{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container">
    <h2 class="mb-3 ms-5">Мои предложения</h2>
    <p class="ms-5  fst-italic"> Вы отправили <span class="fw-bolder">{{ company_offers_count }}</span> приглашений! </p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Статус</th>
                <th scope="col">Резюме</th>
                <th scope="col">Вакансия</th>
                <th scope="col">Дата</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in company_offers %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td class="align-middle"><span class="badge text-center {% if item.status == 1 %}bg-light text-dark {% elif item.status == 2 %}bg-success {% elif item.status == 3 %}bg-danger{% endif %}">{{ item.get_status_display }}</span></td>
                    <td><a href="{% url 'resume:detail' item.resume.id %}">{{ item.resume }}</a></td>
                    <td><a href="{% url 'vacancies:detail' item.vacancy.id %}">{{ item.vacancy }}</a></td>
                    <td>{{ item.created_at }}</td>
                    <td><a href="javascript:return false;" class="btn--resume-answer" data-resume-id="{{ item.resume.id }}" data-vacancy-id="{{ item.vacancy.id }}">Отменить</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock content %}
