<div class="col-md-12 border p-3">
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <a href="{% url 'resume:detail' item.pk %}" class="text-decoration-none">
                <h5 class="mb-0">{{ item.name }}</h5>
            </a>
            {% if request.user.is_staff or item.user_id == request.user.pk %}
                {% if item.status != 2 %}
                    <span class="mx-2 {% if item.status == 3 %}text-warning{% elif item.status == 4 %}text-danger{% else %}text-muted{% endif %}">{{ item.get_status_display }}</span>
                {% endif %}
            {% endif %}
        </div>
        <p class="fs-5 mb-0">{% if item.price %}{{ item.price }} руб. {% else %} з/п не указана {% endif %}</p>
    </div>
    <div class="mb-2">
        <p class="mb-auto text-muted">Был на сайте {{ item.user.last_login|date:'d.m.Y' }}</p>
        <p class="mb-auto text-muted">{{ item.user.last_name }} {{ item.user.first_name }}</p>
        <p class="mb-auto"> Опыт работы {{ item.get_experience_text }}</p>
    </div>
    {% if item.experience.first %}
        <div>
            <p class="mb-0 text-muted">Последнее место работы:</p>
            <p class="mb-0">
                <strong>{{ item.experience.first.organization_name }}</strong>,
                <span class="mb-auto text-muted">{{ item.experience.first.delta_text }}</span>
            </p>
            <p class="mb-auto text-muted">{{ item.experience.first.position }}</p>
        </div>
    {% endif %}
    <div class="d-flex justify-content-between mt-3">
        <div>
            {% if request.user.role == 1 %}  {# Модератор #}
                <a href="{% url 'resume:detail' item.pk %}" class="btn  btn-primary">Проверить</a>
            {% elif request.user.role == 2 %}  {# Соискатель #}
                {% if item.user_id == request.user.pk %}
                    <a class="btn btn-primary" href="{% url 'resume:edit' item.pk %}" role="button">Изменить</a>
                {% endif %}
            {% elif request.user.role == 3 %}  {# Работодатель #}
                {% if item.id in my_favorites_list_id %}
                    <button id="{{ item.id }}" class="btn  btn-link  shadow-none  text-decoration-none  btn--resume  text-success">В избранном</button>
                {% else %}
                    <button id="{{ item.id }}" class="btn  btn-link  shadow-none  text-decoration-none  btn--resume  text-primary">В избранное</button>
                {% endif %}
                <div>
                {% include 'resume/includes/invite_menu.html' %}
                </div>
            {% endif %}
        </div>
        <div class="mb-1 text-muted">Обновлено {{ item.updated_at|date:'d.m.Y' }}</div>
    </div>
</div>
