{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row g-5">
        <div class="col-md-3">
            <div class="position-sticky">
                <div class="p-0 mb-3 rounded">
                    <img src="/media/companies/{{ object.logo }}" alt="{{ object.name }}" class="mb-3" style="object-fit: cover; max-width: 100%;">
                </div>

                <div class="p-0">
                    <ol class="list-unstyled mb-4">
                        <li><h6>{{ object.city }}</h6></li>
                        <li><a href="{{ object.url }}" target="_blank">{{ object.url }}</a></li>
                    </ol>
                    <ol class="list-unstyled mb-4">
                        <li><h6>Контакты</h6></li>
                        {% if object.user.email %}<li>e-mail: <a href="mailto:{{ object.user.email }}" target="_blank">{{ object.user.email }}</a></li> {% endif %}
                        {% if object.user.phone %}<li>Телефон: <a href="tel:{{ object.user.phone }}" target="_blank">{{ object.user.phone }}</a></li> {% endif %}
                    </ol>
                    <strong class="py-4">Вакансии</strong>
                    <ol class="list-unstyled mb-4">
                        {% if object.vacancy_count %}
                            <li><a href="{% url 'companies:vacancies' object.pk %}">{{ object.vacancy_count }} активных вакансий</a></li>
                        {% else %}
                            <li><p>Нет активных вакансий</p></li>
                        {% endif %}
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <article class="blog-post">
                <h2>{{ object.name }}</h2>
                {% for p in object.split_description_to_lines %}
                    <p>{{ p }}</p>
                {% endfor %}
            </article>
        </div>
    </div>
</div>
{% endblock %}