{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="mb-3">Избранные вакансии</h2>
    <div class="mb-5">
    {% for item in my_favorites %}
        <div class="col-md-12 border p-3">
            <div class="d-flex justify-content-between">
                <a href="{% url 'vacancies:detail' item.pk %}" class="text-decoration-none">
                    <h5 class="mb-0">{{ item.name }}</h5>
                </a>
                <p class="fs-5 mb-0">{{ item.price }}</p>
            </div>
            <div class="mb-1">
                <a href="{% url 'companies:detail' item.company.pk %}" class="mb-auto text-muted text-decoration-none">{{ item.company }}</a>
                <p class="mb-auto text-muted">{{ item.company.city }}</p>
            </div>
            <div>
                {% for desc in item.split_description_to_lines|slice:":2" %}<p class="m-0">{{ desc }}</p>{% endfor %}
            </div>
            <div class="d-flex justify-content-between mt-3">
                <div>
                    <button onclick="void(0)" class="btn btn-primary">Откликнуться</button>
                    <button onclick="void(0)" class="btn btn-link">В избранное</button>
                </div>
                <div class="mb-1 text-muted">{{ item.created_at|date:'d.m.Y' }}</div>
            </div>
        </div>
    {% endfor %}
    {% if object_list|length == 0 %}
        <strong class="mb-3">Нет избранных вакансий</strong>
    {% endif %}
    </div>
</div>
{% endblock %}