{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="mb-3">Избранные вакансии</h2>
    <div class="mb-5">
    {% for item in favorites %}
        <div class="col-md-12 border p-3">
            <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-start">
                    <a href="{% url 'vacancies:detail' item.pk %}" class="d-flex align-items-center text-decoration-none">
                        <h5 class="mb-0">{{ item.name }}</h5>
                    </a>
                    {% if user.role == 2 %}  {# Соискатель #}
                        {% if item.id in my_favorites %}
                            <button id="{{ item.id }}" class="btn  btn-link  shadow-none  text-decoration-none  text-warning btn--vacancy">
                                <svg class="bi" width="20" height="20" fill="currentColor">
                                    <use id="use-favorite" xlink:href="{% static '/bootstrap/icons/favorite.svg' %}#favorite-fill"></use>
                                </svg>
                            </button>
                        {% else %}
                            <button id="{{ item.id }}" class="btn  btn-link  shadow-none  text-decoration-none  text-secondary btn--vacancy">
                                <svg class="bi" width="20" height="20" fill="currentColor">
                                    <use use="use-favorite-fill" xlink:href="{% static '/bootstrap/icons/favorite.svg' %}#favorite"></use>
                                </svg>
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
                <p class="fs-5 mb-0">{{ item.price }}</p>
            </div>
            <div class="mb-1">
                <a href="{% url 'companies:detail' item.company.pk %}" class="mb-auto text-muted text-decoration-none">{{ item.company }}</a>
                <p class="mb-auto text-muted">{{ item.company.city }}</p>
            </div>
            <div>
                {% for desc in item.split_description_to_lines|slice:":2" %}<p class="m-0">{{ desc }}</p>{% endfor %}
            </div>

            <div class="d-flex justify-content-between mt-3">
                {% include 'vacancies/includes/answer_menu.html' %}
                <div class="mb-1 text-muted">{{ item.created_at|date:'d.m.Y' }}</div>
            </div>
        </div>
        {% comment %}
        {% include 'vacancies/includes/vacancy_list_item.html' %}
        {% endcomment %}
    {% empty %}
        <strong class="mb-3">Нет избранных вакансий</strong>
    {% endfor %}
    </div>
</div>
{% endblock %}