{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between">
        <h2 class="mb-3">Мои вакансии</h2>
        <a href="{% url 'vacancies:create' %}"><button class="btn btn-primary">Создать вакансию</button></a>
    </div>
    <div class="mb-5">
    {% for item in object_list %}
        {% include 'vacancies/includes/vacancy_list_item.html' %}
    {% empty %}
        <strong class="mb-3">У Вас пока нет вакансий</strong>
    {% endfor %}
    </div>
</div>
{% endblock %}