{% extends 'base.html' %}

{% block content %}
    <div class="row g-5">
        <div class="col-md-9">
            <h3><strong>{{ object.name }}</strong></h3>
            <h5 class="mb-4">{{ object.price }}</h5>
            <a href="{% url 'companies:detail' object.company.pk %}" class="text-decoration-none"><h4>{{ object.company }}</h4></a>
            <p class="mb-2">{{ object.company.address }}</p>

            <div class="mb-2 d-flex gap-2">
                <button onclick="void(0)" class="btn btn-success">Откликнуться</button>
                <button onclick="void(0)" class="btn btn-warning">В избранное</button>
            </div>
            <p>Требуемый опыт работы: {{ object.get_experience_display }}</p>
        </div>
        <div class="col-md-3">
            <div class="col-auto d-none d-lg-block">
                <img src="/media/companies/{{ object.company.logo }}" style="object-fit: scale-down" width="100%" alt="{{ object.name }}">
            </div>
        </div>
    </div>
    <hr>
    <div>
        {% for item in object.split_description_to_lines %}
            <p>{{ item }}</p>
        {% endfor %}
    </div>

    {% if object.skills|length %}<h3 class="mt-5">Ключевые навыки</h3>{% endif %}
    <div class="mb-4">
        {% for item in object.skills %}
            <span class="badge rounded-pill bg-primary">{{ item.name }}</span>
        {% endfor %}
    </div>
    <div>
        <button onclick="void(0)" class="btn btn-success">Откликнуться</button>
    </div>
    <p class="fst-italic my-5">Вакансия опубликована {{ object.created_at|date:'d.m.Y' }} в {{ object.company.city }}</p>
{% endblock %}