{% extends 'base.html' %}

{# https://krasnodar.hh.ru/terms - Условия использования Сайтов #}
{# https://krasnodar.hh.ru/article/341 - Правила размещения вакансий #}

{% block content %}
<div class="container">
    <h2 class="mb-5">Правила размещения вакансий</h2>
    <p>Все публикуемые вакансии проходят ручную модерацию.</p>
    <p>Пожалуйста, ознакомьтесь с правилами размещения вакансий на нашем сайте — это поможет вам быстрее опубликовать вакансию и избежать блокировок со стороны службы модерации.</p>

    <h3>1. Общие правила</h3>
    <h4>1.1. Название вакансии:</h4>
    <ul>
        <li>Название вакансии должно начинаться с заглавной буквы, но не может быть написано заглавными буквами полностью. После названия вакансии не ставится точка.</li>
        <li>Название вакансии должно содержать только информацию, относящуюся к названию должности. Такая информация, как рекламные слоганы, график работы, название компании, продукта, сервиса, улицы, станции метро, вид занятости, по которому вы принимаете на работу, должна быть вынесена в текст вакансии (блок «Условия»).</li>
        <li>Название вакансии и должность должны соответствовать описанию вакансии. В противном случае модераторы вправе изменить название вакансии или должности в соответствии с описанием вакансии.</li>
    </ul>
    <h5>Исключения:</h5>
    <ul>
        <li>Допускается указание кода вакансии после названия должности.</li>
        <li>Допускается указание города (в случаях, если подбираются сотрудники в город, отличный от города расположения работодателя). При этом город указывается в формате «в Ярославль».</li>
        <li>Допускается в дополнение к названию должности информативное уточнение, указывающее на более узкую профессиональную специализацию.</li>
        <li>Для ретейл-компаний и компаний с развитой сетью допускается указание территориальной принадлежности в виде района, станции метро и названия торгового центра.</li>
    </ul>
    <h5>Например:</h5>
    <ul>
        <li>журналист (экономика);</li>
        <li>ответственный редактор (детская литература);</li>
        <li>технолог (швейное производство);</li>
        <li>технический специалист (системы охраны);</li>
        <li>продавец-консультант (ст. м. «Войковская», ТЦ «Мегаполис»);</li>
        <li>администратор ресторана (Обручевский район).</li>
    </ul>

    <h4>1.2. Описание вакансии:</h4>
    <ul>
        <li>Описание вакансии должно содержать информацию, которая не ограничивает права соискателей по полу, возрасту, семейному положению и другим характеристикам, не связанным с деловыми качествами работников (согласно Федеральному закону от 02.07.2013 № 162-ФЗ).</li>
    </ul>
    <p>Согласно Постановлению Пленума Верховного суда РФ от 17.03.2004 № 2, под деловыми качествами работника понимается способность лица выполнять определенную трудовую функцию с учетом имеющихся у него:</p>
    <ul>
        <li>профессионально-квалификационных качеств (например, наличие определенной профессии, специальности, квалификации);</li>
        <li>личностных качеств (состояние здоровья, наличие определенного уровня образования, опыт работы по данной специальности, в данной отрасли).</li>
    </ul>
    <p>Также можно предъявлять претендентам на вакантную должность требования:</p>
    <ul>
        <li>обязательные для заключения трудового договора в силу прямого предписания закона;</li>
        <li>необходимые в дополнение к типовым или типичным профессионально-квалификационным требованиям в силу специфики той или иной работы (например, владение одним или несколькими иностранными языками, способность работать на компьютере).</li>
    </ul>

    <p>Бывают различные дискриминационные условия — перечень, указанный в законе, открытый.</p>
    <ul>
        <li>Описание вакансии должно быть информативным. Не допускается размещение вакансий, из которых невозможно получить содержательной информации. Например: «Приглашается инженер, зарплата высокая, условия есть». Такие вакансии блокируются службой модерации.</li>
        <li>Описание вакансии должно содержать не менее 150 символов с учетом пробелов.</li>
        <li>Описание вакансии должно быть грамотным. Грамматические и пунктуационные ошибки не допускаются и корректируются модератором.</li>
        <li>Не допускаются в описании вакансии сокращения, в том числе такие, как в/о, з/п, гр. раб.</li>
        <li> Не допускается в описании вакансии указание контактной информации работодателя, она удаляется модератором. При желании контактную информацию можно указать в блоке «Контактные данные».</li>
        <li>Не допускаются в описании вакансии ссылки на сайты. Исключение составляют случаи, когда предложение работы однозначно связано с интернет-ресурсом, который необходимо указать. Например, «Приглашается редактор в интернет-издание www.mmmm.ru». В остальных случаях ссылки на сайт можно добавить на страницу компании.</li>
    </ul>

    <h4>1.3. Оформление вакансии:</h4>
    <p>Вакансия должна быть аккуратно оформленной, легко восприниматься визуально, а также иметь внутреннюю логику и четкую структуру.</p>
    <p>Мы рекомендуем добавить в вакансию следующую информацию:</p>
    <ul>
        <li>требования;</li>
        <li>обязанности;</li>
        <li>условия.</li>
    </ul>
    <p>Названия блоков лучше выделить жирным шрифтом, а пункты оформить в виде маркированного списка — тогда информацию будет удобнее читать и она будет лучше восприниматься соискателями.</p>
    <p>Если вакансия не соответствует требованиям, модератор приводит текст вакансии в надлежащий вид: разбивает описание вакансии на блоки, расшифровывает сокращения, меняет заглавные буквы на строчные, корректирует название вакансии и т. п.</p>

    <h4>1.4. Не допускается:</h4>
    <p class="fw-bold">При создании новой вакансии:</p>
    <ul>
        <li>Размещение двух и более вакансий в одной публикации, кроме вакансий «Бригада». Например: «Финансовый аналитик / помощник финансового аналитика». Такие вакансии блокируются службой модерации.</li>
        <li>Повторная публикация одной и той же вакансии. Дубли вакансий блокируются службой модерации.</li>
    </ul>
    <p class="fw-bold">При изменении размещенной вакансии:</p>
    <ul>
        <li>вносить исправления, приводящие к существенному изменению должностных обязанностей и характера работы для соискателей. Такие вакансии переносятся службой модерации в архив и не возвращаются на счет;</li>
        <li>менять название города.</li>
    </ul>

    <h4>1.5. Специализации:</h4>
    <ul>
        <li>Выбранная специализация должна соответствовать названию вакансии и указанному в ее описании функционалу и обязанностям.</li>
        <li>Если выбранная специализация не соответствует указанной должности, то модераторы могут изменить её на профильную.</li>
    </ul>

    <h4>1.6. Информация о заработной плате:</h4>
    <ul>
        <li>Заведомо ненастоящая зарплата (например, 11111 или 2222) модератором обнуляется.</li>
        <li>Если у вас возникли вопросы, обратитесь к вашему персональному менеджеру. Связаться со службой поддержки можно по телефону или почте. Контакты находятся в разделе «Помощь».</li>
    </ul>

    <h3>2. Частные случаи вакансий</h3>
    <h4>2.1. Вакансия «Бригада»</h4>
    <p>
        <b>Описание понятия</b><br>
        Бригада — тип структурного подразделения в организациях промышленности, строительства, сельского хозяйства и т. д. Бригада представляет собой постоянный или временный коллектив рабочих, выполняющих общее задание и несущих совместную ответственность за результаты своего труда. Члены бригады могут иметь как одинаковую, так и различные профессии.
    </p>
    <p>
        <b>Ограничения, которые мы накладываем на описание вакансий (в данном случае это название)</b><br>
        В названии вакансии должно быть написано: бригада или синонимы, звено, группа или отряд, бригадир с бригадой или прораб с бригадой, начальник бригады с бригадой.
    </p>
    <p>
        <b>Ограничения по профобластям и специализациям</b><br>
        Вакансии для поиска бригад допускается размещать только в следующих специализациях:
    </p>

    <h4>2.2. Вакансия «Стажер»</h4>
    <p>Для публикации вакансии «Стажер» на сайте необходимо:</p>
    <ul><li>в разделе «Дополнительно» выбрать тип занятости «Стажировка».</li></ul>
    <p>Также вам нужно указать, какие перспективы ожидают стажера/ученика по окончании стажировки (обучения) — возможно ли трудоустройство, зачисление в кадровый резерв, справка для вуза, рекомендации и т. п. При желании можно указать срок стажировки (обучения) и уточнить, будет ли она оплачиваться.</p>

    <h4>2.3. Вакансии для подростков</h4>
    <p>Допускается публикация вакансий для подростков, т. е. лиц, достигших 14 лет и не достигших 18 лет. При публикации вакансии для подростков необходимо поставить маркировку «Доступна для соискателей от 14 лет».</p>
    <p>При публикации вакансии для подростков необходимо соблюдать требования трудового законодательства РФ к регулированию труда подростков, например:</p>
    <ul>
        <li>Согласно ст. 265 ТК РФ, запрещается применение труда лиц в возрасте до 18 лет на работах с вредными и (или) опасными условиями труда, на подземных работах, а также на работах, выполнение которых может причинить вред их здоровью и нравственному развитию (игорный бизнес, работа в ночных кабаре и клубах, производство, перевозка и торговля спиртными напитками, табачными изделиями, наркотическими и иными токсическими препаратами, материалами эротического содержания).</li>
        <li>Согласно ст. 96 ТК РФ, к работе в ночное время не допускаются работники, не достигшие возраста 18 лет.</li>
        <li>Запрещаются переноска и передвижение работниками в возрасте до 18 лет тяжестей, превышающих установленные для них предельные нормы (см. Постановление Минтруда РФ от 07.04.1999 № 7 «Об утверждении норм предельно допустимых нагрузок для лиц моложе восемнадцати лет при подъеме и перемещении тяжестей вручную»).</li>
        <li>Перечень работ, на которых запрещается применение труда работников в возрасте до 18 лет (см. Постановление Правительства РФ от 25.02.2000 № 163 «Об утверждении перечня тяжелых работ и работ с вредными или опасными условиями труда, при выполнении которых запрещается применение труда лиц моложе восемнадцати лет»).</li>
    </ul>
</div>
{% endblock %}
