{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="mb-3">Избранные резюме</h2>
    <div class="mb-5">
    {% for item in favorites %}
        <div class="col-md-12 border p-3">
            <div class="d-flex justify-content-between">
                <a href="{% url 'resume:detail' item.pk %}" class="text-decoration-none">
                    <h5 class="mb-0">{{ item.name }}</h5>
                </a>
                <p class="fs-5 mb-0">{% if item.price %}{{ item.price }} руб. {% else %} з/п не указана {% endif %}</p>
            </div>
            <div class="mb-2">
                <p class="mb-auto text-muted">Был на сайте {{ item.user.last_login|date:'d.m.Y' }}</p>
                <p class="mb-auto text-muted">{{ item.user.last_name }} {{ item.user.first_name }}</p>
                <p class="mb-auto"> Опыт работы {{ item.get_experience_text }}</p>
            </div>
            {% if item.experience.first %}
                <div>
                    <p class="mb-0 text-muted">Последнее место работы:</p>
                    <p class="mb-0">
                        <strong>{{ item.experience.first.organization_name }}</strong>,
                        <span class="mb-auto text-muted">{{ item.experience.first.delta_text }}</span>
                    </p>
                    <p class="mb-auto text-muted">{{ item.experience.first.position }}</p>
                </div>
            {% endif %}
            <button id="{{ item.id }}" class="btn  btn-link  shadow-none  text-decoration-none  btn--resume  text-success">В избранном</button>
            <div class="d-flex justify-content-between mt-3">
                <div>
                    {% include 'resume/includes/invite_menu.html' %}
                </div>
                <div class="mb-1 text-muted">Обновлено {{ item.updated_at|date:'d.m.Y' }}</div>
            </div>
        </div>
    {% empty %}
        <strong class="mb-3">Нет избранных резюме</strong>
    {% endfor %}
    </div>
</div>
{% endblock %}