{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between">
        <h2 class="mb-3">Мои резюме</h2>
        <a href="{% url 'resume:create' %}"><button class="btn btn-primary">Создать резюме</button></a>
    </div>

    <div class="mb-5">
    {% for item in my_resume %}
        {% include 'resume/includes/resume_list_item.html' %}
    {% empty %}
        <strong class="mb-3">У Вас пока нет резюме</strong>
    {% endfor %}
    </div>
</div>
{% endblock %}