{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="mb-3">Резюме</h2>
    <div class="mb-5">


        <div class="d-flex bg-light sticky-top justify-content-between ">
            <button class="btn btn-primary position-fixed  bottom-0 end-0 translate-middle-x mb-3"
                    onclick="myFunction()">Фильтр
            </button>

            <form class="mb-3 flex-grow-1" method="get">
                <div class=" d-flex flex-rows ">
                    <input class="input-group " type="search" name="find" value="{{find}}"
                           placeholder="Поиск по названию">
                    <button class="btn btn-primary" type="submit">Поиск</button>
                </div>

                <div id="advanSearch" class="d-flex flex-row  mt-3 d-none  justify-content-around">
                    <div>
                        <label class="align-items-center">Доход</label>
                        <div class="d-flex align-items-center">
                            <label>ОТ</label><input class="ms-2" type="number" name="fromsalary" value="{{from_salary}}"
                                                    placeholder="">
                        </div>
                        <div>
                            <input class="mb-2" type="checkbox" {% if zero_salary %} checked {% endif %}
                                   name="zerosalary"> <label>Не указана</label>
                        </div>

                        <div class="mb-2">
                            <label class="align-items-center">Образование</label>
                            <input class="" type="text" name="education" value="{{education}}" placeholder="Образование">
                        </div>
                    </div>

                    <div>
                        <input class=" input-group " style="max-width: 250px;" type="text" name="level" value="{{level}}"
                               placeholder="Уровень образования" id="myInput"  onkeyup="filterFunctionResume()">

                        <div class="overflow-auto  " style="max-width: 250px; max-height: 250px;" id="">
                            <ul  name="level"  id="myDropdown"  >

                                {% for i in levels %}
                                <div class="d-flex flex-row align-items-center mt-2">
                                    <input  type="checkbox" {% if level == i.id %} checked {% endif %} name="{{i.level}}" ><li >{{i.get_level_display}}</li>

                                </div>

                                {% endfor %}

                            </ul>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    {% for item in object_list %}
        <div class="col-md-12 border p-3">
            <div class="d-flex justify-content-between">
                <a href="{% url 'resume:detail' item.pk %}" class="text-decoration-none">
                    <h5 class="mb-0">{{ item.name }}</h5>
                </a>
                <p class="fs-5 mb-0">{% if item.price %}{{ item.price }} руб. {% else %} з/п не указана {% endif %}</p>
            </div>
            <div class="mb-2">
{#                <a href="{% url 'companies:detail' item.company.pk %}" class="mb-auto text-muted text-decoration-none">{{ item.company }}</a>#}
                <p class="mb-auto text-muted">Был на сайте {{ item.user.last_login|date:'d.m.Y' }}</p>
                <p class="mb-auto text-muted">{{ item.user.last_name }} {{ item.user.first_name }}</p>
                <p class="mb-auto"> Опыт работы {{ item.get_experience_text }}</p>
            </div>
            {% if item.experience.first %}
                <div>
                    <p class="mb-0 text-muted">Последнее место работы:</p>
                    <p class="mb-0">
                        <strong>{{ item.experience.first.organization_name }}</strong>,
                        <span class="mb-auto text-muted">{{ item.experience.first.delta_text }}</span>
                    </p>
                    <p class="mb-auto text-muted">{{ item.experience.first.position }}</p>
                </div>
            {% endif %}
            <div class="d-flex justify-content-between mt-3">
                <div>
                    <button onclick="void(0)" class="btn btn-primary">Откликнуться</button>
                    <button onclick="void(0)" class="btn btn-link">В избранное</button>
                </div>
                <div class="mb-1 text-muted">Обновлено {{ item.updated_at|date:'d.m.Y' }}</div>
            </div>
        </div>
    {% endfor %}
    {% if object_list|length == 0 %}
        <strong class="mb-3">Нет подходящих резюме</strong>
    {% endif %}
    </div>
</div>
{% endblock %}