<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary" href="/">Главная</a>
        {% if request.user and request.user.pk %}
            {% if request.user.role == 1 or request.user.role == 2 %}
                <a class="p-2 link-secondary" href="{% url 'vacancies:all' %}">Вакансии</a>
            {% endif %}
            {% if request.user.role == 1 or request.user.role == 3 %}
                <a class="p-2 link-secondary" href="{% url 'resume:all' %}">Резюме</a>
            {% endif %}
        {% endif %}
        <a class="p-2 link-secondary" href="{% url 'companies:all' %}">Наши партнеры</a>
        <a class="p-2 link-secondary" href="{% url 'news:all' %}">Новости</a>
        <a class="p-2 link-secondary" href="{% url 'main:specification' %}">Правила портала</a>
        <a class="p-2 link-secondary" href="{% url 'main:posting_rules' %}">Правила размещения вакансий</a>
    </nav>
</div>