<div class="py-1">
    <nav class="nav d-flex justify-content-start">
        <div class="d-flex  justify-content-between">
            <a class="p-3 link-secondary  link__top-menu" href="/">Главная</a>
            {% if request.user and request.user.pk %}
                {% if request.user.role == 1 %}
                    <a class="p-3 link-secondary  link__top-menu" href="{% url 'vacancies:all' %}">Вакансии</a>
                    <a class="p-3 link-secondary  link__top-menu" href="{% url 'resume:all' %}">Резюме</a>
                {% elif request.user.role == 2 %}
                    <a class="p-3 link-secondary  link__top-menu" href="{% url 'resume:my' %}">Мои резюме</a>
                    <a class="p-3 link-secondary  link__top-menu" href="{% url 'vacancies:favorites' request.user.id %}">Избранные вакансии</a>
                    <a class="p-3 link-secondary  link__top-menu" href="{% url 'vacancies:all' %}">Все вакансии</a>
                {% elif  request.user.role == 3 %}
                    <a class="p-3 link-secondary  link__top-menu" href="{% url 'companies:my-vacancies' request.user.company.id %}">Мои вакансии</a>
                    <a class="p-3 link-secondary  link__top-menu" href="{% url 'resume:favorites' request.user.id %}">Избранные резюме</a>
                    <a class="p-3 link-secondary  link__top-menu" href="{% url 'resume:all' %}">Все резюме</a>
                {% endif %}
            {% endif %}
            <a class="p-3  link-secondary  link__top-menu" href="{% url 'companies:all' %}">Партнеры</a>
            <a class="p-3  link-secondary  link__top-menu" href="{% url 'news:all' %}">Новости</a>
        </div>
    </nav>
</div>