{% load static %}
<header class="blog-header">
    <div class="my-2 row flex-nowrap justify-content-between align-items-center">
        <div class="col-6  pt-2  d-flex  align-items-center">
            <p><a class="link-secondary" href="/"><img class="logo__img" src="{% static 'logo_new.png' %}" alt="Recrupe"></a></p>
            <p class="mx-4  logo__text">Работа найдется для каждого</p>
        </div>
        <div class="col-6 gap-2 d-flex justify-content-end align-items-center">
            {% if request.user.id %}
                {% if request.user.role == 1 %}  {# Модератор #}
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'user:editemployee' %}">
                        {{ request.user }}</a>
                {% elif request.user.role == 2 %}  {# Соискатель #}
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'user:editemployee' %}">
                        {{ request.user }}</a>
                {% elif request.user.role == 3 %}  {# Компания #}
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'user:editcompany' %}">
                        {{ request.user }}</a>
                {% endif %}

                <a class="btn btn-sm btn-outline-secondary" href="{% url 'user:logout' %}">Выйти</a>
            {% else %}
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'user:registration' %}">Регистрация</a>
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'user:login' %}">Войти</a>
            {% endif %}
        </div>
    </div>
</header>