 .input {
    background-image: url(../sliders.svg);
    background-repeat: no-repeat; /*Убираем повтор изображения*/
    background-position: 4px; /*Позиционируем*/
    outline: none; /*убираем стандартную обводку браузера*/
    -moz-border-radius: 5px; /*закругляем углы для Mozilla*/
    -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/
    border-radius: 5px; /*закругляем углы для остальных браузеров*/
    padding-left: 20px; /*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/
    height: 20px; /*высота строки ввода*/
    font-size: 13px; /*размер шрифта*/
}

.shadow-custom{
box-shadow: inset 0 0 10px 10px #6e6e6e
}

