{% extends 'base.html' %}

{% block content %}
<div class="container  mt-4">
    <h2 class="mt-3">{{ object.title }}</h2>
    <div class="mb-1  text-muted">{{ object.created|date:'d.m.Y' }}</div>
    <div class="mt-4"><strong>{{ object.short_text }}</strong></div>
    <img src="/media/news/{{ object.image }}" alt="" class="img  my-4" style="object-fit: cover; max-width: 100%;">
    <br>
    {% for p in object.split_text_to_lines %}
        <p>{{ p }}</p>
    {% endfor %}
    <div class="mb-5 pb-5"></div>
</div>
{% endblock %}