{% extends 'moderation/base_moderation.html' %}

{% block content %}

    <form  method="get">
      <input class="input-group mb-3" type="text" name="find" placeholder="Поиск">
    </form>

    <div class="row mb-2">
    {% for item in vacancy_list %}
        <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-150 position-relative">

                <div class="col p-4 d-flex flex-column position-static">
                    <h4 class="mb-2">{{ item.vacancy.name }}</h4>
                    <a href="{% url 'companies:detail' item.vacancy.company.pk %}" class="">Подробнее</a>
                </div>
                <div class="col p-4 d-flex flex-column position-static">
                    <h4 class="mb-2">Комментарий</h4>
                    <p class="mb-2">{{ item.comment }}</p>
                </div>
                <div class="col p-4 d-flex flex-column ">
                     <h5 class="mb-2">Статус:</h5>
                    <h4 class="mb-2">{{ item.status }}</h4>
                  <a href="{% url 'vacancies:moderation-vacancy' item.pk %}">  <label  class="btn btn-success">Редактирование</label></a>
                </div>


<!--                <div>-->
<!--                  {{item.status}}-->
<!--                </div>-->

            </div>

        </div>
    {% endfor %}
    </div>
{% endblock %}