{% if my_resume|length  %}
    <div class="d-flex  justify-content-start">
        <div class="dropdown  d-flex  justify-content-start  align-items-center">
            <div>
                <button class="btn btn-primary dropdown-toggle me-3" type="button" id="dropdownResumeMenu" data-bs-toggle="dropdown" aria-expanded="false">
                    Откликнуться
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownUserMenu">
                    {% for my_res in my_resume %}
                        <li class="btn dropdown-item btn--vacancy-answer {% if my_res.id in item.get_answer_resume %}text-success{% endif %}"
                            data-resume-id="{{ my_res.id }}"
                            data-vacancy-id="{% if item %}{{ item.id }}{% else %}{{ object.id }}{% endif %}"
                        >{{my_res}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% else %}
    Чтобы иметь возможность откликнуться, составьте хотя бы одно резюме.
{% endif %}