{% extends 'base.html' %}
{% load static %}

{% block js %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="registration-form  mb-5">
        <form method="post" action="{% url 'users:editcompany' %}" enctype="multipart/form-data">
            <h1 class="mb-3">Редактирование профиля компании
                {% if company.status != 3 %}
                    <span class="{% if company.status == 1 %}text-warning{% elif company.status == 2 %}text-danger{% endif %}">({{ company.get_status_display }})</span>
                {% endif %}
            </h1>
            {% csrf_token %}
            {% for field in edit_form %}
                <div class="row mb-2">
                    {% if field.label != "" and field.label != "Пароль" %}
                        <label class="col-sm-4 col-form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                        <div class="col-sm-8">
                            {{ field }}
                        </div>
                    {% else %}
                    {% endif %}
                </div>
            {% endfor %}
    
            {% for field in profile_form %}
                <div class="row mb-2">
                    {% if field.label != "" and field.label != "Password"%}
                        <label class="col-sm-4 col-form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {% if field.name == 'description' %}
                            <div class="col-sm-8">
                                {{ field }}
                            </div>
                        {% else %}
                            <div class="col-sm-8">
                                {{ field }}
                            </div>
                        {% endif %}
                    {% else %}
                    {% endif %}
                </div>
                {% if field.name == "logo"%}
                    {% if user.company.logo %}
                        <div class="">
                            <img style="object-fit: scale-down;" width = "200" height = "160" src="/media/{{ user.company.logo }}" alt="{{ user.company.name }}">
                        </div>
                    {% else %}
                        <div class="">
                            <img style="object-fit: scale-down;" width = "200" height = "160" src="/media/companies/def_img.jpg" alt="{{ user.company.name }}">
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
    
            {% for message in messages %}
                <p class="col-auto mb-3 text-danger">{{ message }}</p>
            {% endfor %}
    
            <div class="col-auto mb-3">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </form>
        <button class="btn btn-round form-control last">
            <a href="/" class="">на главную</a>
        </button>
    </div>
</div>
{% endblock %}
