{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="form__signin  d-flex  mt-5">
            <form class="form__signin-form" method="post">
                {% csrf_token %}
                <h1 class="h3 mb-3  fw-normal  text-center">Авторизация</h1>
        
                {% for message in messages %}
                    <p class="text-danger">{{ message }}</p>
                {% endfor %}
        
                <div class="form-floating  mb-4">
                    <input type="email" class="form-control" id="username" name="username" placeholder="name@example.com">
                    <label for="username">E-mail</label>
                </div>
                <div class="form-floating  mb-4">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    <label for="password">Пароль</label>
                </div>
                <div class="pb-5">
                    <a href="{% url 'users:pwd_reset' %}"
                        class="col  text-right  text-decoration-none">Забыли пароль?</a>
                </div>
        
                <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
            </form>
        </div>
    </div>
{% endblock content %}
